<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

      {% if app.user %}
        <li class="nav-item">
          <a class="nav-link active" href="{{path('app_home')}}">Video Center
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_video_create')}}">Créer une Vidéo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_logout')}}">Deconnecter</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Connecter</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>