
			{% for video in pagination %}
				{% if video.isPremiumVideo %}
					{% if app.user and app.user.isVerified %}
						<div class="col-4">
							<div class="card h-60 justify-content-around">
								<div class="card-body mt-4">
									<h3 class="card-title">
										<a href="{{ path('app_video_show', {id: video.id}) }}">
											{{ video.id }}
											{{ video.title }}
										</a>
									</h3>
									<iframe width="300" height="200" src="{{ video.videoLink }}"></iframe>
									<p class="card-text">{{ video.description|u.truncate(10,'...',false) }}</p>
									<p>Premium *******</p>
									<p>Submitted
										{{ video.createdAt|ago }}</p>
								</div>
							</div>
						</div>
						
					{% endif %}
				{% else %}
					<div class="col-4  justify-content-around">
						<div class="card h-60 ">
							<div class="card-body">
								<h3 class="card-title">
									<a href="{{ path('app_video_show', {id: video.id}) }}">
										{{ video.id }}
										{{ video.title }}
									</a>
								</h3>
								<iframe width="300" height="200" src="{{ video.videoLink }}"></iframe>
								<p class="card-text">{{ video.description|u.truncate(10,'...',false) }}</p>
								<p>Non Premium</p>
								<p>Submitted
									{{ video.createdAt|ago }}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</section>
	</main>




		<div class=" navigation d-flex justify-content-center">
			{{ knp_pagination_render(pagination) }}
		</div>
