{% extends 'base.html.twig'%}

{% block title %}Video Center{% endblock %}

{% block body %}
    {% set video_count = videos|length %}
    {{ video_count }}
    {% for video in videos %}
        <article>
             <h2><a href="{{ path('app_video_show', {id: video.id}) }}">{{ video.id }} {{ video.title }} </a></h2>     
            <iframe width="300" height="200" src={{video.videoLink}} ></iframe>
            <p>{{ video.description|u.truncate(10,'...',false)  }}</p>
            {# <p>Submitted {{ video.createdAt|date }}</p> #}
            <p>Submitted {{ video.createdAt|ago }}</p>  
        </article>
    {% else %}
           <p> Sorry, no video yet </p>
    {% endfor %}

    <div class="navigation">
    {{ knp_pagination_render(videos) }}
    </div>
{% endblock %}