{% extends 'base.html.twig' %}
{% block title %}
	<div class="mt-4">
		{{ video.title }}
	</div>

{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto text-center">
			<article>
				<h1>{{ video.title }}</h1>
				<iframe width="640" height="480" src={{video.videoLink}}></iframe>
				<p>{{ video.description }}</p>
				<p>Soumis
					{{ video.createdAt|date }}</p>
				<p>Par
					{{ video.user.firstname ~ " " ~ video.user.lastname }}</p>
				<p>Dernière modification
					{{ video.updatedAt|date("d/m/y H :i") }}</p>
			</article>
			{% if app.user and app.user.isVerified  %}
				{%  if video.user == app.user%}
					<button type="button" class="btn btn-sm btn-outline-secondary">
						<a class="text-decoration-none text-primary h3" href="{{ path('app_video_edit', { id: video.id }) }}">Modifier</a>
					</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">
						<a class="text-decoration-none text-primary h3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette vidéo ?')" href="{{ path('app_video_delete', { id: video.id }) }}">Supprimer</a>
					</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">
						<a class="text-decoration-none text-primary h3" href="{{ path('app_home') }}">Retour</a>
					</button>
				{% else %}
					<button type="button" class="btn btn-sm btn-outline-secondary">
						<a class="text-decoration-none text-primary h3" href="{{ path('app_home') }}">Retour</a>
					</button>
				{% endif %}
			{% else %}
			      <button type="button" class="btn btn-sm btn-outline-secondary">
						<a class="text-decoration-none text-primary h3" href="{{ path('app_home') }}">Retour</a>
				  </button>
				
			{% endif %}

		</div>
	</div>
{% endblock %}
